@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import 'variables/fonts';
@import 'variables/colors';

body {
  align-items: center;
  background-color: $mine-shaft;
  color: $white;
  font-family: $font-main;
  justify-content: center;
  margin: 0;
  padding: 0;
}
