@import 'variables/colors';
@import 'variables/fonts';

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  color: $blue;
  font-size: $title-size;
}

.input {
  text-align: center;
  font-size: $boxes-font-size;
  margin: 5px;
}

.button {
  background-color: $earls-green;
  color: $mine-shaft;
  margin: 10px;
  font-size: $button-font-size;
}

.link {
  text-decoration: none;
}

.error {
  color: $green;
  margin: 0 0 10px 10px;
  text-align: center;
}
