$alto: #DDD;
$black: #000;
$blue: #00ADEE;
$blue-picton: #52acee;
$boulder: #757575;
$gray-dusty: #999;
$green: #00FF00;
$green-earls: #BED23C;
$mine-shaft: #333132;
$mine-shaft-dark: #222222;
$red: #FF0000;
$white: #FFF;
