@import 'variables/colors';
@import 'variables/fonts';

.title {
  color: $blue;
  font-size: $sub-title-size;
  text-align: center;
}

.text {
  text-align: center;
}

.image {
  height: 264px;
  max-width: 100%;
  width: 200px;
}
