{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~components": "./src/app/components",
        "~redux": "./src/redux",
        "@constants": "./src/constants",
        "@screens": "./src/app/screens",
        "@utils": "./src/utils"
      }
    }]
  ]
}
