// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Common
body {
  font-family: $font-main;
}

// Sections
.section {
  display: grid;
  grid-template-columns: 170px auto auto auto 170px;
  grid-template-rows: 100px auto auto;
  margin: 100px auto;
  max-width: 992px;
  width: 100%;
}
