// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Common
body {
  font-family: $font-main;
}

// Sections
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto;
  max-width: 992px;
  width: 100%;
}
