.technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.technology {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 15px;
  width: 205px;

  &:first-child {
    grid-row: 1 / 3;
    justify-content: center;
    border-right: 2px solid $green;
  }
}

.tech-icon {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.tech-name,
.tech-subtitle,
.tech-content {
  font-size: $text-medium;
  margin: 10px;
}

.tech-subtitle {
  font-weight: bold;
}

.tech-content {
  font-size: $text-small;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .technologies {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .technology {
    border-bottom: $green 2px solid;

    &:first-child {
      border-right: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
