.technology {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 100%;
  padding: 15px;
  position: relative;
  width: 205px;
}

.tech-icon {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.tech-name,
.tech-subtitle,
.tech-content {
  font-size: $text-medium;
  margin: 10px;
}

.tech-subtitle {
  font-weight: bold;
}

.tech-content {
  font-size: $text-small;
  text-align: center;
}

.tech-react, .tech-ruby {
  border-right: $green 2px solid;
  grid-column: 2 / 2;
  grid-row: 2 / 4;
  justify-content: center;
}

.tech-angular, .tech-node {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
}

.tech-vue, .tech-asp {
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}

.tech-elm, .tech-django {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.tech-polymer {
  grid-column: 4 / 4;
  grid-row: 3 / 3;
}
