.sectionTech {
  background-color: #bed23c;
  border-radius: 10px;
  width: 25%;
  text-align: center;
}

.sectionTech h1, .sectionTech h2, .sectionTech img, .sectionTech p {
  display: block;
}

.sectionTech img {
  width: 25%;
}
