.title {
  background: transparent url('assets/triangle.svg') no-repeat center left;
  color: $color-black;
  font-size: 24px;
  height: $title-decoration-height;
  padding-left: 52px;
  padding-top: 35px;
  width: 100%;
}
