.title {
  align-items: center;
  color: $black;
  font-size: $text-big;
  height: $title-decoration-height;
  margin: 20px;
  position: relative;
  width: 100%;

  &:before {
    background: transparent url('assets/triangle.svg') no-repeat;
    content: '';
    height: $title-decoration-height;
    left: -50px;
    position: absolute;
    width: $title-decoration-width;
    z-index: -1;
  }
}

.title-front {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
