.title {
  align-items: center;
  color: $black;
  font-size: $text-big;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  height: $title-decoration-height;
  margin: 20px;
  position: relative;
  width: 100%;

  &:before {
    background: transparent url('assets/triangle.svg') no-repeat;
    content: '';
    height: $title-decoration-height;
    left: -50px;
    position: absolute;
    width: $title-decoration-width;
    z-index: -1;
  }
}
