// Fonts
$font-main: 'Roboto', Helvetica, sans-serif;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

// Nav
$nav-height: 70px;
$nav-logo-height: 30px;

// Titles
$title-decoration-height: 90px;
$title-decoration-width: 70px;

// Tech Section
$tech-logo-size: 100px;
