@import 'variables/colors';
@import 'variables/fonts';

.title {
  color: $blue;
  font-size: $title-size;
  text-align: center;
}

.card {
  align-content: space-around;
  background-color: $boulder;
  border-radius: 10px;
  box-shadow: 3px 3px 20px $black-50-transparency;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  width: 500px;
}

.framework, .info {
  flex: 1;
}

.framework {
  text-align: center;
}

.photo {
  animation: fadein 2s;
  border-radius: 50%;
  height: 150px;
  max-width: 100%;
  width: 150px;
}

.data {
  text-align: left;
}

.text {
  margin-top: 0;
}

.link {
  color: $white;
}

.user {
  font-weight: bold;
}

.error {
  color: $red;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
