@import 'variables/colors';
@import 'variables/fonts';

.loader,
.loader:before,
.loader:after {
  animation: load1 1s infinite ease-in-out;
  background-color: $white;
  height: 48px;
  max-width: 100%;
  width: 12px;
}

.loader {
  animation-delay: -0.16s;
  color: $white;
  font-size: 11px;
  margin: 88px auto;
  position: relative;
  text-indent: -9999px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
  }

  &:before {
    animation-delay: -0.32s;
    left: -18px;
  }

  &:after {
    left: 18px;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
